@charset "UTF-8";
.bg-clair, .menu, #search > div, #restos, #fonctionnement > div {
  background-color: #f6f6f6;
}

.click, .menu a, #search input, #fonctionnement > div, .favori, input, button {
  cursor: pointer;
}

.majuscule, .menu h3, #main-header h2::first-letter {
  text-transform: uppercase;
}

.menu-chcked, .menu a:active::before, .menu a:visited::before, .menu a:hover::before {
  transform: translateX(0px) rotate(360deg);
  transition: translateX, rotate, 300ms, 400ms 200ms;
}

.menu-slct, .menu a:active::after, .menu a:visited::after, .menu a:hover::after {
  background-color: #99e2d0;
  transition: all 300ms ease-in-out;
  transform: translateX(0px);
  margin-left: 0px;
  margin-right: 0px;
}

.titre, #main-header h2, footer h1 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
}

#search form {
  background: linear-gradient(to bottom, #cfcfcf 0%, #eaeaea 10%, #eaeaea 100%);
  display: flex;
  color: #353535;
  padding-top: 4%;
  padding-bottom: 4%;
  justify-content: center;
}

header picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  header {
    padding-top: 5%;
    padding-bottom: 2%;
  }
}
@media (min-width: 1024px) {
  header {
    padding: 2% 0;
  }
}
footer {
  background-color: #353535;
  color: white;
  height: 100%;
  padding: 2%;
  text-align: left;
}
footer h1 {
  font-size: large;
  margin-left: 5%;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer ul li {
  margin: 10px 0;
  font-size: smaller;
}
footer ul i {
  font-size: small;
  width: 25px;
}

@media (max-width: 768px) {
  footer ul {
    margin: 5% 5% 10%;
  }
}
@media (min-width: 1024px) {
  footer ul li {
    display: inline-block;
    width: 23%;
    text-align: center;
  }
}
button {
  background: linear-gradient(to bottom, #ff79da 0%, #9356dc 100%);
  border: none;
  color: white;
  font-size: medium;
  border-radius: 30px;
  box-shadow: 3px 5px 3px lightgray;
}
button:hover {
  background: linear-gradient(to bottom, #ff93e1 0%, #a16be0 100%);
  box-shadow: 3px 5px 1px lightgray;
}

#accueil::after, #accueil::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: scale(0);
}
#accueil::after {
  content: "ohmyfood";
  z-index: 10;
  font-size: xx-large;
  padding: 25px;
  font-family: "Shrikhand", cursive;
  background: #9356DC;
  width: 185px;
  color: white;
  height: 185px;
  line-height: 185px;
  border-radius: 120px;
  border: 5px solid;
  animation: loader_index 2700ms;
}
#accueil::before {
  content: "";
  background-color: white;
  z-index: 9;
  bottom: 0;
  animation-name: fin_loader;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: both;
  transform-origin: 50% 0%;
}

.favori {
  position: relative;
  width: 28px;
  overflow: hidden;
  height: 39px;
  margin-right: 2%;
}
.favori::after, .favori::before {
  width: 28px;
  height: 38px;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: contain;
}
.favori::after {
  background-image: url("../img/icons/fav-slct.png");
  transition: all 300ms ease-in-out;
  transform: scale(0);
  opacity: 0;
}
.favori::before {
  background-image: url("../img/icons/fav.png");
}
.favori:hover::after {
  transition: all 300ms ease-in-out;
  opacity: 1;
  transform: scale(1);
}

#fonctionnement > div {
  border-radius: 25px;
  box-shadow: 1px 3px 8px lightgray;
  text-align: left;
  position: relative;
}
#fonctionnement > div::after {
  content: "";
  background-color: #9356DC;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 27px;
}
#fonctionnement > div:first-of-type::before {
  content: "1";
}
#fonctionnement > div:hover {
  background-color: rgba(255, 255, 255, 0.85);
}
#fonctionnement > div:hover i {
  color: #9356DC;
}
#fonctionnement > div:nth-of-type(2)::before {
  content: "2";
}
#fonctionnement > div:nth-of-type(3)::before {
  content: "3";
}
#fonctionnement > div::before {
  padding: 6px 10px;
  border-radius: 20px;
  background-color: #9356DC;
  color: white;
  font-size: small;
  float: left;
  margin: -2px 7px 0 -14px;
}
#fonctionnement h2 {
  text-align: left;
  margin-left: 5%;
}
#fonctionnement i {
  width: 15%;
  text-align: center;
  font-size: larger;
  color: gray;
}
#fonctionnement p {
  display: inline-block;
  margin: 0 auto;
  width: 60%;
}

#restos {
  display: flex;
}
#restos a {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 2% auto 3%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 5px lightgray;
  position: relative;
}
#restos div {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#restos div p:first-of-type {
  text-align: left;
  width: 70%;
}
#restos h2 {
  text-align: left;
}
#restos i {
  font-size: 23px;
  display: block;
  margin-bottom: 2px;
}
#restos i:last-of-type {
  color: #9356DC;
}
#restos img {
  width: 100%;
  object-fit: cover;
  height: 70%;
  overflow: hidden;
}
#restos .new::before {
  content: "Nouveau";
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99e2d0;
  padding: 7px 12px;
  color: #38917b;
  font-weight: bold;
  font-size: small;
  border-radius: 2px;
}
#restos span {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

#search {
  display: flex;
  flex-direction: column;
}
#search > div div {
  max-width: 80%;
  margin: auto;
  font-weight: lighter;
}
#search button {
  padding: 4% 7% 5%;
}
#search input {
  border: none;
  font-size: medium;
  font-weight: bold;
  background-color: transparent;
  text-align: center;
  padding: 0;
  color: #353535;
}
#search input:focus-visible {
  outline: none;
}

@media (max-width: 768px) {
  #accueil::after {
    margin: 50% auto;
  }

  #fonctionnement {
    margin: 12% auto 17%;
  }
  #fonctionnement > div {
    margin: 5% auto;
    max-width: 85%;
    padding: 7% 0%;
  }
  #fonctionnement h2 {
    margin-top: 10%;
  }

  #restos {
    flex-direction: column;
    padding-bottom: 15%;
  }
  #restos a {
    width: 90%;
    height: 25%;
    max-height: 225px;
  }
  #restos h2 {
    margin: 10% 5% 5%;
  }

  #search button {
    margin: 7% auto 13%;
  }
  #search h2 {
    max-width: 70%;
    margin: 10% auto 5%;
  }
}
@media (min-width: 1024px) {
  body::after {
    margin: 20% auto;
  }

  #fonctionnement {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    order: 1;
  }
  #fonctionnement > div {
    margin: 2% auto;
    width: 85%;
    padding: 5% 0%;
  }

  #fonctionnement, #search {
    width: 48%;
    max-width: 650px;
  }

  main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    align-items: center;
    align-content: space-around;
    overflow: hidden;
  }

  #restos {
    order: 3;
    flex-wrap: wrap;
    height: 100%;
  }
  #restos a {
    width: 40%;
    height: 35%;
    max-height: 275px;
  }
  #restos h2 {
    margin: 2% 5%;
    width: 100%;
  }

  #search {
    background-color: #f6f6f6;
    border-radius: 15px;
    overflow: hidden;
  }
  #search > div {
    padding: 3%;
    max-width: 94%;
  }
  #search button {
    margin: 5% auto;
  }
  #search form {
    order: 1;
  }
  #search h2 {
    text-align: left;
    margin: 2%;
  }
}
@keyframes fin_loader {
  0% {
    transform: scale(1);
  }
  80% {
    opacity: 0.9;
  }
  99% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes loader_index {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  5% {
    transform: scale(1);
    opacity: 1;
  }
  10% {
    transform: scale(0.8);
    opacity: 0.8;
    border-top-style: dashed;
    border-top-color: #FF79DA;
  }
  15% {
    transform: scale(1);
    opacity: 1;
  }
  20% {
    border-right-color: #FF79DA;
    border-right-style: dashed;
  }
  30% {
    border-bottom-color: #FF79DA;
    border-bottom-style: dashed;
  }
  35% {
    transform: scale(1);
    opacity: 1;
  }
  40% {
    transform: scale(0.7);
    opacity: 0.7;
    border-left-color: #FF79DA;
    border-left-style: dashed;
  }
  45% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 1;
    border-top-color: #99E2D0;
    border-top-style: dotted;
  }
  60% {
    opacity: 1;
    border-right-color: #99E2D0;
    border-right-style: dotted;
  }
  65% {
    transform: scale(1);
    opacity: 1;
  }
  70% {
    transform: scale(0.6);
    opacity: 0.6;
    border-bottom-color: #99E2D0;
    border-bottom-style: dotted;
  }
  75% {
    transform: scale(1);
    opacity: 1;
  }
  80% {
    border-left-color: #99E2D0;
    border-left-style: dotted;
  }
  85% {
    border-top-style: solid;
  }
  90% {
    border-right-style: solid;
    transform: scale(1);
    opacity: 1;
  }
  95% {
    border-bottom-style: solid;
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
    border-left-style: solid;
  }
}
.desc {
  width: 72%;
  margin-left: 3%;
  min-width: 45%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.desc span {
  display: block;
  font-size: larger;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

header a {
  position: absolute;
  top: 0;
  left: 0;
  font-size: large;
  margin-top: 6%;
  margin-left: 6%;
}

#main-header {
  border-radius: 35px 35px 0 0;
  justify-content: space-around;
  margin-top: 51%;
  align-items: center;
}
#main-header .favori {
  height: 35px;
  width: 35px;
  transform: scaleY(1.2) scaleX(1.1);
}
#main-header h2, #main-header p {
  margin-top: 7%;
  margin-bottom: 0;
}
#main-header h2 {
  width: 75%;
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  font-size: xx-large;
}
.menu {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.menu#resto1 {
  background-image: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.menu#resto2 {
  background-image: url("../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-position-y: -100px;
}
.menu#resto3 {
  background-image: url("../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.menu#resto4 {
  background-image: url("../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}
.menu button {
  margin: 10% auto 20%;
  padding: 4% 15%;
  font-family: "Roboto", sans-serif;
  font-size: large;
}
.menu #entrees a:nth-of-type(1) {
  animation: apparition 500ms 150ms backwards;
}
.menu #entrees a:nth-of-type(2) {
  animation: apparition 500ms 300ms backwards;
}
.menu #entrees a:nth-of-type(3) {
  animation: apparition 500ms 450ms backwards;
}
.menu #entrees a:nth-of-type(4) {
  animation: apparition 500ms 600ms backwards;
}
.menu #plats a:nth-of-type(1) {
  animation: apparition 500ms 450ms backwards;
}
.menu #plats a:nth-of-type(2) {
  animation: apparition 500ms 600ms backwards;
}
.menu #plats a:nth-of-type(3) {
  animation: apparition 500ms 750ms backwards;
}
.menu #desserts a:nth-of-type(1) {
  animation: apparition 500ms 900ms backwards;
}
.menu #desserts a:nth-of-type(2) {
  animation: apparition 500ms 1050ms backwards;
}
.menu #desserts a:nth-of-type(3) {
  animation: apparition 500ms 1200ms backwards;
}
.menu a {
  width: 92%;
  margin: 2% auto;
  background-color: white;
  box-shadow: 1px 1px 14px lightgray;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.menu a::after {
  content: "";
  width: 19%;
  transform: translateX(100px);
  margin-left: -100px;
  transition: all 300ms ease-in-out;
  width: 20%;
  margin-right: -66px;
}
.menu a::before {
  content: "";
  width: 19%;
  transform: translateX(65px);
  margin-left: -65px;
  transition: all 300ms ease-in-out;
  order: 1;
  align-self: center;
  text-align: center;
  color: white;
  z-index: 9;
  background-image: url("../img/icons/checked-48.png");
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.menu h3 {
  margin-left: 4%;
  margin-bottom: 2%;
}
.menu h3::after {
  content: "";
  border-bottom: 4px solid #99e2d0;
  width: 14%;
  display: block;
  margin-top: 5px;
}
.menu section {
  background-color: inherit;
  display: flex;
}
.menu section:not(#main-header) {
  flex-direction: column;
  padding-top: 3%;
}

.price {
  width: 15%;
  align-self: flex-end;
  font-weight: bold;
}
.price::after {
  content: "€";
}

@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*# sourceMappingURL=style.css.map */
