footer {
    @include height(100%);
    @include padding(2%);
    @extend .align-lft;
	background-color: map-get($bg-color, fonce);
	color: white;

    h2{
        @include titl(large, normal);
        margin-left: 5%;
    }

    ul {
        @extend .no-padding;
        list-style: none;

        li{
            margin: 10px 0;
            font-size: smaller;
        }

        i {
            @extend .font-sml;
            width: 25px;
        }
    }
}

@media (max-width: 1023px){
    footer { 
        ul { margin: 5% 5% 10%; }
    }
}

@media (min-width: 1024px){
    footer {
        ul li {
            display: inline-block;
            width: 23%;
            text-align: center;
        }
      }
}