footer {
	background-color: map-get($bg-color, fonce);
	color: white;
	height: 100%;
	padding: 2%;
	text-align: left;

    h1{
        @extend .titre;
        font-size: large;
        margin-left: 5%;
    }

    ul {
        list-style: none;
        padding: 0;

        li{
            margin: 10px 0;
            font-size: smaller;
        }

        i {
            font-size: small;
            width: 25px;
        }
    }
}

@media (max-width: 768px){
    footer { 
        margin: 15% 0 0; 
        ul { margin: 5% 5% 10%; }
    }
}

@media (min-width: 1024px){
    footer {
        ul li {
            display: inline-block;
            width: 23%;
            text-align: center;
        }
      }
}