#accueil{
    &::after, &::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        transform: scale(0);
    }
    &::after {
        content: "ohmyfood";
        z-index: 10;
        font-size: xx-large;
        padding: 25px;
        font-family: "Shrikhand", cursive;
        background: $color-primary;
        width: 185px;
        color: white;
        height: 185px;
        line-height: 185px;
        border-radius: 120px;
        border: 5px solid;
        animation: cooking 2700ms both;
    }
    &::before {
        content: "";
        background-color: white;
        z-index: 9;
        bottom: 0;
        animation-name: fin_loader;
        animation-duration: 2s;
        animation-delay: 1s; 
        animation-fill-mode: both;
        transform-origin: 50% 0%;
    }
}

.favori{
  @extend .click;
  position: relative;
  width: 28px;
  overflow: hidden;
  height: 39px;
  margin-right: 2%;

  &::after, &::before {
      width: 28px;
      height: 38px;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-repeat: no-repeat;
      background-size: contain;
  }
  &::after {
      background-image: url("../img/icons/fav-slct.png");
      transition: all 300ms ease-in-out;
      transform: scale(0);
      opacity: 0;
  }
  &::before {
      background-image: url("../img/icons/fav.png");
  }

  &:hover::after {
      transition: all 300ms ease-in-out;
      opacity: 1;
      transform: scale(1);
  }
}

#fonctionnement {
  
  > div {
      @extend .bg-clair;
      @extend .click;
      border-radius: 25px;
      box-shadow: 1px 3px 8px lightgray;
      text-align: left;
      position: relative;

      &:first-of-type{
          &::before {
              content: "1";
          }
      }

      &:hover {
          background-color: rgba(147, 86, 220, 0.15);
          i {
              color: $color-primary;
          }
      }

      &:nth-of-type(2){
          &::before {
              content: "2";
          }
      }

      &:nth-of-type(3){
          &::before {
              content: "3";
          }
      }

      &::before {
          padding: 6px 10px;
          border-radius: 20px;
          background-color: $color-primary;
          color: white;
          font-size: small;
          float: left;
          margin: -2px 7px 0 -14px;
      }
  }

  h2 {
      text-align: left;
      margin-left: 5%;
  }

  i {
      width: 15%;
      text-align: center; 
      font-size: larger;
      color: gray;
  }

  p {
      display: inline-block;
      margin: 0 auto;
      width: 60%;
  }

}

#restos {
  @extend .bg-clair;
  display: flex;

  a {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      margin: 2% auto 3%;
      background-color: white;
      border-radius: 20px;
      box-shadow: 1px 1px 5px lightgray;
      position: relative;
  }

  div {
      height: 30%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      p{
          &:first-of-type {
              text-align: left;
              width: 70%; 
          }

      }
  }

  h2 { text-align: left; }

  i {
      font-size: 23px;
      display: block;
      margin-bottom: 2px;

      &:last-of-type {
          color: $color-primary;
      }
  }

  img {
      width: 100%;
      object-fit: cover;
      height: 70%;
      overflow: hidden;
  }

  .new::before {
      content: "Nouveau";
      position: absolute;
      top: 15px;
      right: 15px;
      background-color: map-get($color-new_box, bg);
      padding: 7px 12px;
      color: map-get($color-new_box, color);
      font-weight: bold;
      font-size: small;
      border-radius: 2px;
  }
  
  span {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
  }
  
}

#search {
  display: flex;
  flex-direction: column;

  > div {
      @extend .bg-clair;

      div {
          max-width: 80%;
          margin: auto;
          font-weight: lighter;
      }

  }

  button { padding: 4% 7% 5%; }

  input {
      border: none;
      font-size: medium;
      font-weight: bold;
      background-color: transparent;
      text-align: center;
      padding: 0;
      color: #353535;
      @extend .click;

      &:focus-visible {
          outline: none;
      }
  }
}

@media (max-width: 599px){
  #fonctionnement {
    margin: 12% auto 17%;

    > div {
      padding: 7% 0%;
    }
    h2 {
      margin-top: 10%;
    }
  }
  #restos {
    padding-bottom: 15%;  

    a {
        max-height: 225px;
    }

    h2 { margin: 10% 5% 5%; }  
  }
  #search {

    button { margin: 7% auto 13%; }
    h2 {
      max-width: 70%;
      margin: 10% auto 5%;
    }
  }
}

@media (max-width: 1023px){
  #accueil{
    &::after { margin: 50% auto; }
  }
  #fonctionnement {
    > div {
      margin: 5% auto;
      width: 85%;
      max-width: 400px;
    }
  }
  #restos { 
    flex-direction: column;  

    a {
        width: 90%;
        height: 25%;
    }
  }
}

@media(min-width: 600px) and (max-width: 1023px){
  #search h2 {
    margin: 5% auto;
  }
  #search button {
    margin: 5% auto;
    padding: 3% 5%;
  }
  #fonctionnement {
    margin: 5% auto;
  }
  #fonctionnement h2 {
    margin-top: 5%;
  }
  #fonctionnement > div {
    padding: 4% 0;
    display: flex;
    justify-content: space-between;
  }
  #fonctionnement p {
    margin: 0;
    width: 70%;
  }
  #restos {
    margin: 10% 0 0;
    padding-bottom: 10%; 

    a { max-height: 325px; }
    h2 { margin: 5%; }
  }
}

@media (min-width: 1024px){
  body::after { margin: 20% auto; }
  #fonctionnement {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    order: 1;
    width: 35%;
    min-width: 385px;

    > div {
      margin: 2% auto;
      width: 85%;
      padding: 5% 0%;
    }

    h2 { margin-top: 0; }
  }
  #fonctionnement, #search {
    margin-bottom: 3%;
  }
  main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    align-items: flex-start;
    align-content: space-around;
    overflow: hidden;
  }
  #restos {
    order: 3;
    flex-wrap: wrap;
    height: 100%; 

    a {
        width: 40%;
        height: 35%;
        max-height: 275px;
    }

    h2 {
      margin: 2% 5%;
      width: 100%;
    }   
  }
  #search {
    background-color: #f6f6f6;
    border-radius: 15px;
    overflow: hidden;
    width: 50%;
    button { margin: 5% auto; }

    > div {
      padding: 3%;
      max-width: 94%;
    }
    h2 {
        margin: 2%;
    }
  }
}