#accueil{
    &::after, &::before {
        @extend .position-absolu-all-spac;
        transform: scale(0);
    }
    &::after {
        @include dimensions(185px);
        @include border-radius(120px);
        @include padding(25px);
        @include after-before("ohmyfood", $color-primary, white);
        @include titl(xx-large);
        z-index: 10;
        line-height: 185px;
        border: 5px solid;
        animation: cooking 2700ms both;
    }
    &::before {
        @include after-before("", white);
        z-index: 9;
        bottom: 0;
        animation-name: fin_loader;
        animation-duration: 2s;
        animation-delay: 1s; 
        animation-fill-mode: both;
        transform-origin: 50% 0%;
    }
}

.favori{
  @include dimensions(28px, 39px);
  @extend .click;
  @extend .position-relativ;
  @extend .overflo-hid;
  margin-right: 2%;

  &::after, &::before {
    @include dimensions(28px, 38px);
    @include after-before;
    @extend .position-absolu-all-spac;
    @extend .bg-no-repeat;
    @extend .bg-siz-contain;
  }
  &::after {
      background-image: url("../img/icons/fav-slct.png");
      transition: all 300ms ease-in-out;
      transform: scale(0);
      opacity: 0;
  }
  &::before {
      background-image: url("../img/icons/fav.png");
  }

  &:hover::after {
      transition: all 300ms ease-in-out;
      opacity: 1;
      transform: scale(1.1);
      margin-top: 1px;
  }
}

#fonctionnement {
  
  > div {
      @extend .bg-clair;
      @extend .click;
      @extend .align-lft;
      @extend .position-relativ;
      border-radius: 25px;
      box-shadow: 1px 3px 8px lightgray;

      &:first-of-type{
          &::before {
              content: "1";
          }
      }

      &:hover {
          background-color: rgba(147, 86, 220, 0.15);
          i { color: $color-primary; }
      }

      &:nth-of-type(2){
          &::before {
              content: "2";
          }
      }

      &:nth-of-type(3){
          &::before {
              content: "3";
          }
      }

      &::before {
          @include border-radius(20px);
          @include padding(6px, 10px);
          @include margin(-2px, 7px, 0, -14px);
          @extend .font-sml;
          background-color: $color-primary;
          color: white;
          float: left;
      }
  }

  h2 {
      @extend .align-lft;
      margin-left: 5%;
  }

  i {
    @extend .align-ctr;
      width: 15%;
      font-size: larger;
      color: gray;
  }

  p {
      display: inline-block;
      margin: 0 auto;
      width: 60%;
  }

}

#restos {
  @extend .bg-clair;
  @extend .displ-flx;

  a {
      @extend .displ-flx;
      @extend .overflo-hid;
      @extend .flx-dir-col;
      @extend .position-relativ;
      @extend .bg-whit;
      margin: 2% auto 3%;
      border-radius: 20px;
      box-shadow: 1px 1px 5px lightgray;
  }

  div {
    @extend .displ-flx;
    @extend .align-itm-ctr;
    height: 30%;
    justify-content: space-around;

      p{
          &:first-of-type {
              @extend .align-lft;
              width: 70%; 
          }

      }
  }

  h2 { @extend .align-lft; }

  i {
    @extend .displ-blk;
      font-size: 23px;
      margin-bottom: 2px;

      &:last-of-type {
          color: $color-primary;
      }
  }

  img {
    @include dimensions(100%, 70%);
    @extend .overflo-hid;
    object-fit: cover;
  }

  .new::before {
    @include after-before("Nouveau", map-get($color-new_box, bg), map-get($color-new_box, color));
    @extend .font-sml;
    @extend .font-wght-bld;
    @extend .position-absolu;
    top: 15px;
    right: 15px;
    padding: 7px 12px;
    border-radius: 2px;
  }
  
  span {
      display: block;
      @extend .font-wght-bld;
      margin-bottom: 5px;
  }
  
}

#search {
  @extend .displ-flx;
  @extend .flx-dir-col;

  > div {
      @extend .bg-clair;

      div {
          max-width: 80%;
          margin: auto;
          @extend .font-wght-lghtr;
      }

  }

  button { padding: 4% 7% 5%; }

  
  form {
    @extend .displ-flx;
    background: linear-gradient(to bottom, #cfcfcf 0%, #eaeaea 10%, #eaeaea 100%);
    color: #353535;
    padding-top: 4%;
    padding-bottom: 4%;
    justify-content: center;
  
    input {
      @extend .font-wght-bld;
      @extend .no-padding;
      @extend .align-ctr;
      @extend .click;
      border: none;
      font-size: medium;
      background-color: transparent;
      color: #353535;
  
        &:focus-visible {
            outline: none;
        }
    }
  }
}

@media (max-width: 599px){
  #fonctionnement {
    margin: 12% auto 17%;

    > div {
      padding: 7% 0%;
    }
    h2 {
      margin-top: 10%;
    }
  }
  #restos {
    padding-bottom: 15%;  

    a {
        max-height: 225px;
    }

    h2 { margin: 10% 5% 5%; }  
  }
  #search {

    button { margin: 7% auto 13%; }
    h2 {
      max-width: 70%;
      margin: 10% auto 5%;
    }
  }
}

@media (max-width: 1023px){
  #accueil{
    &::after { margin: 50% auto; }
  }
  #fonctionnement {
    > div {
      margin: 5% auto;
      width: 85%;
      max-width: 400px;
    }
  }
  #restos { 
    flex-direction: column; 

    a {
        width: 90%;
        height: 25%;
    }
  }
}

@media(min-width: 600px) and (max-width: 1023px){
  #search h2 {
    margin: 5% auto;
  }
  #search button {
    margin: 5% auto;
    padding: 3% 5%;
  }
  #fonctionnement {
    margin: 5% auto;
  }
  #fonctionnement h2 {
    margin-top: 5%;
  }
  #fonctionnement > div {
    padding: 4% 0;
    display: flex;
    justify-content: space-between;
  }
  #fonctionnement p {
    margin: 0;
    width: 70%;
  }
  #restos {
    margin: 10% 0 0;
    padding-bottom: 10%; 

    a { max-height: 325px; }
    h2 { margin: 5%; }
  }
}

@media (min-width: 1024px){
  body::after { margin: 20% auto; }
  #fonctionnement {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    order: 1;
    width: 35%;
    min-width: 385px;

    > div {
      margin: 2% auto;
      width: 85%;
      padding: 5% 0%;
    }

    h2 { margin-top: 0; }
  }
  #fonctionnement, #search {
    margin-bottom: 3%;
  }
  main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    align-items: flex-start;
    align-content: space-around;
    overflow: hidden;

    &:not(.menu){
      width: 90%;
    }
  }
  #restos {
    order: 3;
    flex-wrap: wrap;
    height: 100%; 

    a {
        width: 40%;
        height: 35%;
        max-height: 275px;
    }

    h2 {
      margin: 2% 5%;
      width: 100%;
    }   
  }
  #search {
    background-color: #f6f6f6;
    border-radius: 15px;
    overflow: hidden;
    width: 50%;
    button { margin: 5% auto; }

    > div {
      padding: 3%;
      max-width: 94%;
    }
    h2 {
        margin: 2%;
    }
  }
}