body:not(#accueil) header {
    @extend .displ-flx;
    @extend .align-itm-ctr;
    justify-content: center;

    a { width: 10%; }
    h1 { width: 80%; }
}

.desc {
    @extend .overflo-hid;
    @extend .txt-overflo-ell;
    width: 72%;
    margin-left: 3%;
    min-width: 45%;
    color: $black;

    span {
        @extend .overflo-hid;
	    @extend .displ-blk;
        @extend .txt-overflo-ell;
        @extend .font-wght-bld;
	    font-size: larger;
        color: black;
    }
}

#main-header {
	@extend .align-itm-ctr;

    .favori { 
        @include dimensions(35px);
        transform: scaleY(1.2) scaleX(1.1);
    }

    h2, p { 
        margin-top: 7%; 
        margin-bottom: 0;
    }
    h2 {
        width: 75%;

        &::first-letter { @extend .majuscule; }
    }
}

.menu {
    @extend .bg-clair;
    @extend .bg-no-repeat;
    @extend .align-lft;
	@include img-bg-menu(4);

    button {
        @extend .font-lrg;
        font-family: "Roboto", sans-serif;
    }

    #entrees a { @include apparition-progressiv(4, 0); }

    #plats a { @include apparition-progressiv(3, 2); }

    #desserts a { @include apparition-progressiv(3, 5); }

    a {
        @extend .click;
        @extend .displ-flx;
        @extend .justif-cont-spac-bet;
        @extend .overflo-hid;
        @extend .bg-whit;
        width: 92%;
        margin: 2% auto;
        box-shadow: 1px 1px 14px lightgray;
        border-radius: 15px;

        &:active, &:visited, &:hover {
            &::after { @extend .menu-slct; }
            &::before {
                @extend .menu-chcked;
            }
        }

        &::after {
            @include tiroir-coulissant(-20%, 130px);
            margin-right: -20%;
        }

        &::before {
            @include tiroir-coulissant(-20%, 130px);
            @extend .align-ctr;
            @extend .bg-no-repeat;
            @extend .bg-siz-contain;
            order: 1;
            align-self: center;
            color: white;
            z-index: 9;
            background-image: url("../img/icons/checked-48.png");
            height: 25px;
            background-position: center;
        }
    }

    h3 { 
        @extend .majuscule; 
        margin-left: 4%;
        margin-bottom: 2%;

        &::after {
            @extend .empty-content;
            @extend .displ-blk;
            border-bottom: 4px solid map-get($color-new_box , bg);
            width: 14%;
            margin-top: 5px;
        }
    }

    section {
        background-color: inherit;
        @extend .displ-flx;
        
        &:not(#main-header) { 
            @extend .flx-dir-col; 
            padding-top: 3%;
        }
    }
}

.price {
    @extend .font-wght-bld;
	width: 15%;
	align-self: flex-end;

    &::after { content: "€"; }
}

@media (max-width: 599px){
    .menu {
        button {
            margin: 10% auto 20%;
            padding: 4% 15%;
        }
    }
}

@media (min-width: 600px) and (max-width: 1023px){
    .menu {
        max-width: 90%;
        margin: auto;
        button {
            margin: 6% auto 10%;
            padding: 2% 5%;
        }
    }
}

@media (max-width: 1023px){
    body:not(#accueil) header {
		a { font-size: large; }
	}
    #main-header {
        border-radius: 35px 35px 0 0;
        justify-content: space-around;
        margin-top: 51%;

        h2 { @include titl(x-large, normal); }
    }
    .menu {
        display: flex;
        background-size: contain;
        flex-direction: column;
        background-position: top;
    }
}

@media (min-width: 1024px){
    body:not(#accueil) header {
        max-width: 1445px;
        margin: auto;

		a { font-size: x-large; }
	}
    #main-header {
        justify-content: center;
        margin-left: 50%;
        padding: 7% 0;
        flex-direction: column;
        width: 50%;

        h2 {
            @include titl(xx-large, normal);
            text-align: center;
        }
    }
    .menu {
        background-size: 50%;
        background-position: 0 -100px;
        justify-content: stretch;
        max-width: 1445px;

        button {
            margin: 1% auto 5%;
            padding: 2% 5%;
        }

        section:not(#main-header) { 
            width: 33%;
            min-height: 375px; 
        }
    }
}

@keyframes apparition {
    from{
      opacity: 0;
      transform: translateY(25px);
    }
    to{
      opacity: 1; 
      transform: translateY(0px);
    }
  }