.bg-clair {
    background-color: map-get($bg-color, clair);
}

.click{
    cursor: pointer;
}

.majuscule { text-transform: uppercase; }

.menu-slct {
    background-color: map-get($color-new_box , bg);
    transition: all 300ms ease-in-out;
    transform: translateX(0px);
    margin-left: 0px;
}
.titre {
    font-family: 'Shrikhand', cursive;
    font-weight: normal;
}